<strong>Olá, {{ student }}</strong>
<p>Abaixo está a resposta da sua pergunta:</p>
<p>
  <strong>Question: </strong> {{ question }} <br />
  <strong>Answer: </strong> {{ answer }} <br />
  <br />
  <small>
    Para demais dúvidas entre em contato conosco. Obrigado!
  </small>
</p>
